.auth-nav {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    gap: 30px;
    color: var(--paragraph-text-color);

    @media screen and (max-width: 767px) {
        display: none;    
    }

    @media screen and (min-width: 768px) {
        display: block;
        align-items: baseline;
        margin-left: auto;
        
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        margin-left: auto;
        font-size: 14px;
    }
    &__link {
        color: var(--paragraph-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--logo-text-color);
        }
    }
}

.link-email:hover .box-email,
.link-email:focus .box-email {
    stroke: var(--background-blue);
    stroke-width: 5px;
}

.link-phone:hover .box-phone,
.link-phone:focus .box-phone {
    stroke: var(--background-blue);
    stroke-width: 5px;

}

.box-email,
.box-phone {
    align-items: center;
    margin-right: 10px;
    stroke: var(--paragraph-text-color);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

