:root {
    --title-text-color: #212121;
    --paragraph-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --logo-text-color: #2196F3;
    --logo-black-color: #000000;
    --background-white: #FFFFFF;
    --background-black: #2F303A;
    --background-beige: #F5F4FA;
    --background-blue: #2196F3;
    --backgroung-button: #F5F4FA;
}



